body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, pink, purple);
}
::backdrop {
    background-color: gradient(to right, pink, purple);
}
#quiz-container {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 5px auto;
    padding: 20px 30px;
    font-size: 20px;
}
h1 {
    color: blue;
}