body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.container h1 {
    margin: 0;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

#file-input {
    margin: 20px;
    align-self: center;
}

.output {
    flex: 1;
    overflow: auto;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 80px); /* Adjust height to be flush with the header */
}

#fullscreen-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    box-shadow: none;
}

.fullscreen .output {
    height: 100%;
    border-top: none;
}