p {
    color: rgb(13, 234, 13);
}

header {
    background-color: #282c34;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #61dafb;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    text-decoration: underline;
}

.lesson-preview {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    background-color: #f9f9f9;
}

button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
}